<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<h2>Expense Tracker</h2>

<button onclick="login()">Sign in with Google</button>

<br><br>

<input type="number" id="amount" placeholder="Amount">
<input type="text" id="category" placeholder="Category">

<br><br>

<button onclick="addTransaction('income')">Add Income</button>
<button onclick="addTransaction('expense')">Add Expense</button>

<script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-auth.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyDvR3LsenhBEn5Fw_53_cf9VMHRTJosnfo",
    authDomain: "money-manager-f51d2.firebaseapp.com",
    projectId: "money-manager-f51d2",
  };

  firebase.initializeApp(firebaseConfig);
  const authInstance = firebase.auth();

  function login() {
    const provider = new firebase.auth.GoogleAuthProvider();
    authInstance.signInWithPopup(provider);
  }

  async function addTransaction(type) {
    const user = authInstance.currentUser;
    if (!user) {
      alert("Please login first");
      return;
    }

    const token = await user.getIdToken();

    const amount = document.getElementById("amount").value;
    const category = document.getElementById("category").value;

    await fetch("/add", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        token: token,
        type: type,
        amount: parseFloat(amount),
        category: category
      })
    });

    alert("Transaction Added!");
  }
</script>

</body>
</html>
